.col1, .col2, .col3, .cols {
	float:left
}
.col1 {
	padding-left:37px;
	width:580px;
	background:transparent;
	
}

.col1book {
    padding-left:37px;
   
    background:transparent;
    
}
.col1_1{
	color:transparent;
}
.col2 {
	padding-left:42px;
	width:557px
}
.col2book {
    padding-left:42px;
    
}

.inputbook{
	height:40px;
}
.cols {
	width:263px
}
/* index.html */
/* index-1.html */
/* index-2.html */
/* index-3.html */
#page4 .cols {
	width:155px
}
#page4 .marg_right1 {
	margin-right:41px
}
/* index-4.html */
#page5 .cols {
	width:256px
}
#page5 .pad_left1 {
	padding-left:40px
}
/* index-5.html */
#page6 .cols {
	width:68px
}
#page6 .col2 {
	widows: 350px;
}
/* index-6.html */
